version: "3"
services:


  fdp:
    image: fairdatasystems/fdp:2025-09-08
    restart: always
    hostname: fdp
    volumes:
      - ./fdp/application-local.yml:/fdp/application.yml:ro
    depends_on:
      - mongo
      - graphdb
    networks:
      - local-default


  # FAIR Data Point client
  fdp_client:
    image: fairdatasystems/fdpclient:2025-09-08
    hostname: fdpclient
    restart: always
    environment:
      FDP_HOST: fdp
    volumes:
      - ./fdp/variables.scss:/src/scss/custom/_variables.scss:ro
      - ./fdp/assets:/usr/share/nginx/html/assets:ro
      - ./fdp/favicon.ico:/usr/share/nginx/html/favicon.ico:ro
    depends_on:
      - fdp
    ports:
      - 7890:80  # You should/must close this port, if you are using hitch
    command: ./start.sh 
    networks:
      - local-default


  graphdb:
    image: fairdatasystems/gdb:2025-09-08
    restart: always
    hostname: graphdb
    ports:
      - 127.0.0.1:7891:7200
    volumes:
      - local-graphdb:/opt/graphdb/home
    networks:
      - local-default

      
  # Mongo for FDP server    
  mongo:
    image: fairdatasystems/mdb:2025-09-08
    hostname: mongo
    restart: always
    volumes:
      - local-mongo-data:/data/db
      - local-mongo-init:/docker-entrypoint-initdb.d/
    networks:
      - local-default


volumes:
  local-graphdb:
    external: true
  local-mongo-data:
    external: true
  local-mongo-init:
    external: true
  local-fdp-server:
    external: true

networks:
  local-default:
